body{
    background-color: antiquewhite;
    font-family: 'Martian Mono';
    color: black;
    width: 100%;
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10rem;
}

h1{
    text-transform: uppercase;
}

form{ 
    width: 100%;
    display: flex;
    justify-content: center;
}

input{
    border: none;
    height: 2rem;
    width: 20rem;
}

input:hover{
    background-color: bisque;
}

button{
    border: none;
    background-color: orange;
    height: 2rem;
}

button:hover{
    opacity: 0.5;
    font-weight: bolder;
}


